Project_4/nim.zip
Project_5/gtsrb.zip
Project_5/traffic/gtsrb/*
Project_5/src5.zip
Project_5/traffic.zip
Project_5/CS50_AI_TrafficScreenCast.mp4
Project_6/parser.zip
Project_6/questions/corpus/*
Project_6/questions.zip
Project_6/src6.zip
Project_6/src6/*
*.zip
